<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/skeleton/2.0.4/skeleton.css"
    />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Dashboard</title>
    <link href="//netdna.bootstrapcdn.com/twitter-bootstrap/2.3.2/css/bootstrap-combined.no-icons.min.css" rel="stylesheet">
<link href="//netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.css" rel="stylesheet">

    <link rel="stylesheet" href="../css/dashboard.css">
    
  </head>
  <body>
     <div class="dashHead">
      <h1>Dashboard</h1>
      <form action="/users/profile" method="POST">
        <input type='hidden' name='myUserName' value = <%= user.name %> >
        <input type='hidden' name='myUserEmail' value = <%= user.email %> >
      <input type="image" id="myProfileImage" src="../css/images/profile-img.png" alt="Submit" style="float: right;">
    </form>

     </div>
      
      <a href="/users/logout">Logout</a>
  
      <h4>Hello <%= user.name %></h4>
      <h4>Hello <%= my_null_value %></h4>
    
   
  </body>
</html>