<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link
    rel="stylesheet"
    href="https://cdnjs.cloudflare.com/ajax/libs/skeleton/2.0.4/skeleton.css"
  />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ecobricks Channel </title>
    <link rel="stylesheet" href="css/style.css">
</head>
<body>
    <h1> Welcome to Eco Bricks channel</h1>
    
    <a href ="/users/register"><button > Register</button></a>
    <a href="/users/login">Already registered? Login here</a>
</body>
</html>