<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ecobricks Channel </title>
    <link rel="stylesheet" href="../css/style.css">
    <%- include('layout'); -%>
    <link href="https://fonts.googleapis.com/css2?family=IM+Fell+DW+Pica:ital@1&display=swap" rel="stylesheet">
</head>
<body>
  
  <div class="welcome">
    <div class=" mx-auto text-center">
    <h1 class="head"> Welcome to Eco Bricks Channel</h1>
    <br>
    <ul>    
    <li><a href ="/users/register"><div class=" mx-auto text-center"><button type="button" class="btn btn-success">Register</button></div></a></li>
    <li><a href="/users/login" class="over"><div class=" mx-auto text-center"><button type="button" class="btn btn-success">Already registered? Login here</button></div></a></li>
  </ul>
  </div>

</div>
</body>
</html>