.dashHead {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px;
  margin: 10px;
}
.myProfileImage {
  margin-left: auto;
  height: 40px;
  margin-top: 10px;
  width: 40px;
}

.Head {
  padding: 5px;
  margin: 10px;
  display: flex;
  flex-direction: row;
  margin: 0 auto;
}
.GetInfoForm {
  display: flex;
  width: 500px;
  flex-direction: column;
  margin: 0 auto;
  /* background-color: #f0bd71;
  box-shadow: 5px 5px 4px #f0bd71, -5px -5px 4px #f0c8a8; */
  padding: 1%;
  border-radius: 20px;
}
#dashboard-image {
  width: 400px;
  height: 400px;
}

.flex-item-Head {
  padding: 10px;
  margin: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.myInputBox {
  display: flex;
  flex-direction: row;
}
.labelFields {
  padding: 10px;
  margin: 4px;
  flex: 30%;
}
.inputFields {
  padding: 10px;
  margin: 4px;
  flex: 60%;
}

#submitProfile {
  cursor: pointer;
  padding: 10px;
  margin: 4px;
}
#submitProfile::hover {
  background-color: rgba(255, 255, 255, 0.842);
  color: white;
}
a:link {
  color: white;
}
.welcome:hover {
  background-color: rgba(255, 255, 255, 0.842);
}
