.dashHead{
    display: flex;
    flex-direction:column ;
    justify-content: center;
    align-items: center;
    padding: 20px;
    margin: 10px;;
}
.myProfileImage{
    margin-left: auto;
    height: 40px;
    margin-top: 10px;
    width: 40px;
}

.Head{
    padding:10px;
    margin:10px;
    display: flex;
    flex-direction: row;
}
.GetInfoForm{
    display: flex;
    width: 400px;;
    flex-direction: column;
}
#dashboard-image{
    width:400px;
    height:400px;

}

.flex-item-Head{
    padding: 10px;
    margin: 10px;;
    display: flex;
    justify-content: center;
    align-items: center;
}

.myInputBox{
    display: flex;
    flex-direction: row;
  
    

}
.labelFields{
    padding: 10px;
    margin:4px;
    flex: 30%;
    color: white;
}
.inputFields{
    padding: 10px;
    margin:4px;
    flex: 70%;
}

#submitProfile{
    cursor: pointer;
    padding: 10px;
    margin: 4px;
}
#submitProfile::hover{
    background-color: rgb(90, 194, 90);
    color:white;
}
a:link
{
      color: white;
}