.dashHead{
    display: flex;
    flex-direction:row ;
}
.myProfileImage{
    margin-left: auto;
    height: 40px;
    margin-top: 10px;
    width: 40px;
}

.Head{
    padding:10px;
    margin:10px;
}
.GetInfoForm{
    display: flex;
    width: 400px;;
    flex-direction: column;
}