* {
  font-family: Arial, Helvetica, sans-serif;
}

.cardsBox {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
a#logHead {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  text-decoration: none;
}
.logHeadItem {
  display: block;
  margin: 5px;

  padding: 4px;
}
a.logHeadItem {
  text-decoration: none;
  color: black;
  border: 2px solid black;
}
a.logHeadItem:hover {
  background-color: rgba(240, 248, 255, 0.527);
}
.card {
  padding: 10px;
  margin: 4px;
  height: auto;
  width: 300px;
}
/* Split the screen in half */
.navbar navbar-expand-lg navbar-light bg-light {
  position: fixed;
}

.notification {
  color: white;
  text-decoration: none;
  padding: 4px 4px;
  position: relative;
  display: inline-block;
  border-radius: 2px;
}

.notification:hover {
  background: rgba(255, 255, 255, 0.842);
}

.notification .badge {
  position: absolute;
  top: -10px;
  right: -10px;
  padding: 5px 10px;
  border-radius: 50%;
  background: red;
  color: white;
}
