*
{
    font-family: 'IM Fell DW Pica', serif;
}

body {
    background-image: url("images/green-c.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
  
   }

.cardsBox{
    display: flex;
    flex-direction:row ;
    flex-wrap: wrap;
}
#logHead{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}
.logHeadItem{
    display: block;
    margin:5px;
   
    padding: 4px;
}
a.logHeadItem {
    text-decoration: none;
    color:black;
    border: 2px solid black;
   
}
a.logHeadItem:hover {
    background-color: rgb(80, 206, 80);
   
}
.card{
    padding: 10px;
    margin:4px;
    height:330px;
    width:300px;
}
/* Split the screen in half */
.navbar navbar-expand-lg navbar-light bg-light
{
    position: fixed;
}
  /* Split the screen in half */
.split {
    width: 50%;
    height : 80%;
    position: fixed;
    z-index: 1;
    top: 0;
    overflow-x: hidden;
    padding-top: 100px;
    margin-top: 80px;
  }
  
  /* Control the left side */
  .left {
    left: 0;
    background-color:#125C13;
  }
  
  /* Control the right side */
  .right {
    right: 0;
    background-color:#3E7C17; 
  }
  
  /* If you want the content centered horizontally and vertically */
  .centered {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    margin-top: 100px ;
  }
  .Head
  {
      color: white;
  }
  
  
 